* {
  font-family: Menlo;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  overflow: hidden;
  background: #222;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  transform: translate3d(0, 0, 0);
}

.padding {
  padding: 1rem;
}

header {
  background: #242424;
  color: white;
  padding: 10px;
  text-align: right;
  -webkit-app-region: drag;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#root {
  height: 100vh;
}

#workspaces {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: #111;
  padding: 90px 20px 20px;
  border-left: 1px solid black;
}
